<img src="/images/Logos/LightRectangle.png" alt="crochet corner logo image" />
<ul class="links">
    <li><a href="/patterns/index.html">Patterns</a></li>
    <li><a href="/kits/index.html">Kits</a></li>
    <li><a href="/blog/index.html">Blog</a></li>
    <li><a href="/contact/index.html">Contact</a></li>
</ul>
<ul class="socials">
    <li><a href="https://www.facebook.com"><img src="/images/Icons/LightFacebook.png" alt="facebook logo image"></a></li>
    <li><a href="https://www.instagram.com"><img src="/images/Icons/LightInstagram.png" alt="instagram logo image"></a></li>
    <li><a href="https://www.twitter.com"><img src="/images/Icons/LightX.png" alt="twitter logo image"></a></li>
</ul>
<div class="copyright">
    <p>&copy; 2022 Crochet Corner</p>
    <p>Created by Natalie Tesam</p>
    <p>WDD 330 Personal Project</p>
    <p><a href="https://github.com/natalietesam/wdd330personal">GitHub</a></p>
</div>