<div class="logo">
    <a href="/index.html">
        <img src="/images/Logos/LightRectangle.png" alt="crochet corner logo image" />
    </a>
</div>
<div class="links">
    <ul>
        <li><a href="/patterns/index.html">Patterns</a></li>
        <li><a href="/kits/index.html">Kits</a></li>
        <li><a href="/blog/index.html">Blog</a></li>
        <li><a href="/contact/index.html">Contact</a></li>
    </ul>
</div>
<div class ="buttons">
    <a href="/cart/index.html"><button>Cart</button></a>
    <a href="/user/index.html"><button>Sign In</button></a>
</div>